modules/camdb_doc_writer/resources/base/xml/DMDW-Datamodel-2.0.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dmdw="https://github.com/boogert-lab/dmdw" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://github.com/boogert-lab/dmdw DMDW-Datamodel-2.0.xsd">
   <xs:element name="datamodel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="datamodel_info">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="dm_dataset"/>
              <xs:element type="xs:string" name="dm_external_name"/>
              <xs:element type="xs:int" name="dm_current_dd_version"/>
              <xs:element type="xs:byte" name="dm_datamodel_version"/>
              <xs:element type="xs:string" name="dm_expand_tables"/>
              <xs:element type="xs:string" name="dm_include_urns"/>
              <xs:element type="xs:string" name="dm_ace_name"/>
              <xs:element type="xs:string" name="dm_alternative_path_name"/>
              <xs:element type="xs:string" name="dm_text_translation_disabled"/>
              <xs:element type="xs:byte" name="dm_active_languages"/>
              <xs:element name="dm_active_language">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:byte" name="order"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="datamodel_history">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="datamodel_history_meta"/>
              <xs:element name="datamodel_history_record" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="product_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="mod_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="datamodel_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="version">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sub_datamodel_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="checkpoint_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="min_read_version">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="min_write_version">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="time_applied">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="product_version">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="dd_version">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:int">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="parameter_string_id">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:byte">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="implementer_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="implementer_comment">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="user_name">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="user_comment">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="key" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="urn" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="software_version">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="sw_core"/>
              <xs:element type="xs:string" name="datamodel_doc_writer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="global_properties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="manifold_definitions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="manifold" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="manifold_name"/>
                          <xs:element type="xs:short" name="manifold_code"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="urn" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="default_topology_rules">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="manifold" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="interaction" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="rule1"/>
                                <xs:element type="xs:string" name="rule2"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="geomtype1" use="optional"/>
                              <xs:attribute type="xs:string" name="geomtype2" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="commonfields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="external_name" use="optional"/>
                                  <xs:attribute type="xs:string" name="description" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="geometry_mappings">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="method">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="collection" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="field" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="external_name"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element name="used_in_join">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="join_field" maxOccurs="unbounded" minOccurs="0"/>
                                <xs:element type="xs:string" name="joins" maxOccurs="unbounded" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="size"/>
                          <xs:element type="xs:string" name="key"/>
                          <xs:element type="xs:string" name="mandatory"/>
                          <xs:element type="xs:string" name="default_value"/>
                          <xs:element type="xs:string" name="unset_value" minOccurs="0"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element name="stored_unit">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:string" name="dimensionality" minOccurs="0"/>
                                <xs:element type="xs:string" name="short_description" minOccurs="0"/>
                                <xs:element type="xs:string" name="long_description" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="sub_type">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="sw_field_type" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="enumerated" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="phys_type">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="join_details" minOccurs="0">
                                  <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                      <xs:element name="result_tables">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="table" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="external_name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="dataset" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="db_set_join">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="result_flavour">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="result_type"/>
                                                  <xs:element type="xs:string" name="ordered"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="dd_join">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="conditions">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="condition" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="target_table" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field1" use="optional"/>
                                                                <xs:attribute type="xs:string" name="operator" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field2" use="optional"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="heterogeneous" use="optional"/>
                                          <xs:attribute type="xs:string" name="simple_result" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="follow">
                                        <xs:complexType>
                                          <xs:choice maxOccurs="unbounded" minOccurs="0">
                                            <xs:element name="result_flavour">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="result_type"/>
                                                  <xs:element type="xs:string" name="ordered"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="dd_hetero_join">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="conditions">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="condition" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="target_table" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field1" use="optional"/>
                                                                <xs:attribute type="xs:string" name="operator" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field2" use="optional"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="dd_join">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="conditions">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="condition" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="target_table" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field1" use="optional"/>
                                                                <xs:attribute type="xs:string" name="operator" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field2" use="optional"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="super_dd_join" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="conditions">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="condition">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="target_table"/>
                                                                <xs:attribute type="xs:string" name="field1"/>
                                                                <xs:attribute type="xs:string" name="operator"/>
                                                                <xs:attribute type="xs:string" name="field2"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:choice>
                                          <xs:attribute type="xs:string" name="heterogeneous" use="optional"/>
                                          <xs:attribute type="xs:string" name="simple_result" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="text_join">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="field_name"/>
                                            <xs:element type="xs:string" name="text_table_name"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="db_rope_join">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="result_flavour">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="result_type"/>
                                                  <xs:element type="xs:string" name="ordered"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="dd_join">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="conditions">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element name="condition" maxOccurs="unbounded" minOccurs="0">
                                                          <xs:complexType>
                                                            <xs:simpleContent>
                                                              <xs:extension base="xs:string">
                                                                <xs:attribute type="xs:string" name="target_table" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field1" use="optional"/>
                                                                <xs:attribute type="xs:string" name="operator" use="optional"/>
                                                                <xs:attribute type="xs:string" name="field2" use="optional"/>
                                                              </xs:extension>
                                                            </xs:simpleContent>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="name" use="optional"/>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="heterogeneous" use="optional"/>
                                          <xs:attribute type="xs:string" name="simple_result" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:choice>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="geometry_details" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:byte" name="priority"/>
                                      <xs:element name="inmanifold" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="mapped" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="map" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="key" use="optional"/>
                                                    <xs:attribute type="xs:string" name="fld_name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="fld_external_name" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="map_discriminator_method"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="mapped_to" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="name" use="optional"/>
                                              <xs:attribute type="xs:string" name="external_name" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                    <xs:attribute type="xs:string" name="has_topology" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="help_text"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="type" use="optional"/>
                        <xs:attribute type="xs:string" name="visible" use="optional"/>
                        <xs:attribute type="xs:string" name="urn" use="optional"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                        <xs:attribute type="xs:string" name="mapped" use="optional"/>
                        <xs:attribute type="xs:string" name="mapped_to" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="external_name" use="optional"/>
                  <xs:attribute type="xs:string" name="urn" use="optional"/>
                  <xs:attribute type="xs:string" name="category" use="optional"/>
                  <xs:attribute type="xs:string" name="description" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="name" use="optional"/>
            <xs:attribute type="xs:string" name="urn" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="enumerators">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="enumerator" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="intvalue" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                  <xs:attribute type="xs:string" name="domain_class" use="optional"/>
                  <xs:attribute type="xs:string" name="storage_class" use="optional"/>
                  <xs:attribute type="xs:string" name="urn" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="explicit_topology_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="manifold" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="collection1" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="field1" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="collection2" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="field2" maxOccurs="unbounded" minOccurs="0">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="rule1"/>
                                            <xs:element type="xs:string" name="rule2"/>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="name" use="optional"/>
                                          <xs:attribute type="xs:string" name="external_name" use="optional"/>
                                          <xs:attribute type="xs:string" name="rule_type" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                    <xs:attribute type="xs:string" name="external_name" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="name" use="optional"/>
                              <xs:attribute type="xs:string" name="external_name" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="external_name" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="manifold_name" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="schema_version"/>
      <xs:attribute type="xs:dateTime" name="creation_date"/>
    </xs:complexType>
  </xs:element>
</xs:schema>