modules/ds_doc_writer/resources/base/data/datamodel2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="datamodel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="datamodel_info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="dm_datamodel_version">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:byte">
                      <xs:attribute type="xs:string" name="dm_product_name"/>
                      <xs:attribute type="xs:string" name="dm_module_name"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="dm_datamodel_version"/>
              <xs:element type="xs:string" name="dm_current_dd_version"/>
              <xs:element type="xs:string" name="dm_dataset"/>
              <xs:element type="xs:string" name="dm_ace_name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="name"/>
      <xs:attribute type="xs:dateTime" name="date"/>
      <xs:attribute type="xs:string" name="external_name"/>
	  <xs:attribute type="xs:string" name="version"/>
	  <xs:attribute type="xs:string" name="alternative_path_name"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

